<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <header>
        <h1>Crear una nueva cuenta</h1>
    </header>

    <main>
        <div class="login">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li class="flash-error">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class_="form-input", placeholder="Elige un nombre de usuario") }}
                    
                    {% for error in form.username.errors %}
                    <span class="validation-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class_="form-input", placeholder="Crea una contraseña") }}
                    {% for error in form.password.errors %}
                    <span class="validation-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.password2.label }}
                    {{ form.password2(class_="form-input", placeholder="Confirma tu contraseña") }}
                    {% for error in form.password2.errors %}
                    <span class="validation-error">{{ error }}</span>
                    {% endfor %}
                </div>

                {{ form.submit(value="Crear Cuenta", class_="boton") }}
            </form>
            
            <hr>

            <div class="registrolink">
                <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a>.</p>
            </div>
        </div>
    </main>
</body>
</html>